.App-header {
  background-color: #e9e9e9 ;
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(20px + 2vmin);
  color: #3F2E2D;
}

.App-header a {
  font-size: calc(10px + 2vmin);
  color: #3F2E2D;
  text-decoration: none;
}

.logo-button {
  height: 100%;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
